
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h1>商品列表</h1>
		<%= link_to "我的购物车", carts_path, class: "btn btn-primary" %>
		<table class="table">
			<tr>
				<th>产品名</th>
				<th>描述</th>
				<th>价格</th>
				<th>库存</th>
				<th>编辑</th>
			</tr>
			<% @products.each do | product | %>
			<tr>
				<td><%= product.product_name %></td>
				<td><%= product.description %></td>
				<td><%= product.price %></td>
				<td><%= product.inventory %></td>
				<td><%= link_to "加入购物车", carts_path(product_id: product.id), method: :post, class: "btn btn-default" %></td>
			</tr>
			<% end -%>
		</table>
		<%= will_paginate @products %>
	</div>
	<div class="col-sm-2"></div>
</div>